<header>
    <div class="container">
        <div class="header-logo">
            <img src="/solilokey-logo.png">
            <%= link_to "Solilokey", "/" %>
        </div>
        <nav>
            <ul class="header-menu">
                <li>
                    <%= link_to "Solilokeyとは", "/about" %>
                </li>
                <li>
                    <%= link_to "新規登録", new_user_path %>
                </li>
                <li>
                    <%= link_to "ログイン", login_path %>
                </li>
            </ul>
            <span class="fa fa-bars menu-icon"></span>
        </nav> 
    </div>
</header>