<% provide(:title, "About") %>

<%= render 'home/header' %>

<div class="about-page">
    <div class="container">
        <!--ここで完成後に画像を使って大枠を説明-->
        <%= link_to "新規登録", "#" %>
    </div>
</div>

<%= render 'home/footer' %>