<% provide(:title, "Top") %>

<%= render 'home/header' %>

<div class="top-page">
    <div class="container">
        <!--画像-->
        <h1 class="welcome">Solilokeyへようこそ</h1>
        <h2 class="let-start">さあ利用を始めよう</h2>
        <div class="btn-start">
            <%= link_to "新規登録", "#" %>
        </div>
    </div>
</div>

<%= render 'home/footer' %>