/* ここにCSSはまとめる */
$ber: rgb(253, 246, 227);
$back: rgb(23, 20, 18);
$word: rgb(199, 178, 153);
$word2: rgb(253, 246, 227);
$word3: rgb(97, 85, 70);
$hover-back: rgb(173, 18, 18);
$error: rgb(173, 18, 18);



.container {
    max-width: 960px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.container2 {   /* サイドバーの右っかわ */
    width: 76%;
    float: right;
    box-sizing: border-box;
}

body {
    background-color: $back;
}

/* error */
.error_explanation li{
    color: red;
    font-size: 14px;
}

/* flash */
.flash-danger {
    color: red;
    font-size: 14px;
}
/* header */

header {
    height: 60px;
    background-color: $ber;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    font-weight: bold;
}


.header-logo {
    float: left;
        a {
            color: $back;
            font-family: "old english text mt";
            display: block;
            line-height: 60px;
            text-decoration: none;
            font-size: 30px;
            float: right;
        }
        img {
            width: 64px;
            float: left;
        }
}

.header-menu {
    float: right;
        a {
            color: $back;
            display: block;
            text-decoration: none;
            transition: 0.3s;
            line-height: 30px;
            &:hover {
                color: $hover-back;
            }
        }
}

.header-menu li {
    list-style-type: none;
    float: left;
    border-bottom: 4px solid $ber;
    margin-right: 15px;
    transition: 0.3s;
    &:hover{
        border-bottom: 4px solid $hover-back;
    }
}

.setting2 {
    display: none;
}


/* top */
.top-page{
    margin-top: 200px;
    margin-bottom: 200px;
    text-align:center;
}

.welcome {
    color: $word;
    font-size:50px;
}

.let-start {
    color: $word;
    font-size: 30px;
    margin-bottom: 50px;
}

.btn-start {
    width: 120px;
    padding: 5px 0;
    background-color: $ber;
    border-radius: 15px;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    
    &:hover {
        background-color: $hover-back;
    }
    a {
        width: 100%;
        color: $back;
        font-weight: bold;
        text-decoration: none;
    }
}





/* users new */
.new-user-page {
    margin-top: 150px;
}

.form-box {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    .form-area {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 65px;
        padding: 5px 0;
        background-color: $back;
        border: 1px solid $word;
        transition: 0.3s;
        color: $word;
        font-size: 18px;
        outline: none;
        &:focus {
            border: 3px solid $word2;
        }
    }
    label {
        color: $word;
        font-size: 20px;
    }
}

.submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 10px;
    background-color: $ber;
    border-radius: 15px;
    transition: 0.3s;
    height: 30px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    &:hover {
        background-color: $hover-back;
    }
}



/* sideber */
.sideber {
    width: 24%;
    float: left;
    box-sizing: border-box;
    background-color: $ber;
    height: 100vh;  /* IE9以下は死ぬ */
}

.side-links {
    margin-top: 20px;
}

.side-link-box {
    width: 100%;
    height: 90px;
    .side-icon {
        font-size: 38px;
    }
    li {
        list-style-type: none;
        float: right;
        line-height: 42px;
        margin-right: 16px;
        a {
            color: $back;
            text-decoration-color: $ber;
            width: 100%;
            font-weight: bold;
            font-size: 22px;
            transition: 0.3s;
            &:hover {
                color: $hover-back;
                text-decoration-color: $hover-back;
            }
        }
    }
}

.side-icon-smart {
    display: none;
}

.bootstrap {
    @import "bootstrap";
}

.setting1 {
    display: none;
}

/* user show */
.user-page {
    border-right: 1px solid $word;
    height: 100vh;
    overflow: auto;
    border-top: 1px solid $word;
}

.user-page::-webkit-scrollbar {
    display:none;
}

.profile {
    width: 100%;
    height: 150px;
    border-bottom: 1px solid $word;
    text-align: center;
    img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: inline;
        object-fit: cover;
    }
    h1 {
        font-size: 26px;
        display: inline;
        color: $word2;
    }
}

.pro-img {
    padding-top: 10px;
}

.menu {
    width: 100%;
    margin-left: 5px;
}

.menu-box {
    display: inline;
    width: 50%;
    margin-left: 10px;
    a {
        color: $word;
        text-decoration-color: $back;
        font-weight: bold;
        font-size: 22px;
        transition: 0.3s;
        &:hover {
            color: $word2;
            text-decoration-color: $word2;
        }
    }
}



/* user edit */
.edit-user-page {
    border-right: 1px solid $word;
    height: 100vh;
    border-top: 1px solid $word;
    overflow: auto;

}

.edit-user-page::-webkit-scrollbar {
    display:none;
}

.blank {
    height: 120px;
}



/* user index */
.users-top {
    border-top: 1px solid $word;
    border-bottom: 1px solid $word;
    h2 {
        color: $word;
        text-align: center;
    }
}

.users-box {
    img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
    a {
        color: $word;
        text-decoration: none;
        font-size: 26px;
        margin-left: 10px;
        transition: 0.3s;
        &:hover {
            color: $word2;
        }
    }
}

.users-box li {
    list-style-type: none;
    border-bottom: 1px solid $word3;
    height: 90px;
    width: 90%;
    margin-bottom: 8px;
}


/* posts new */
.posts-page {
    border-right: 1px solid $word;
    height: 100vh;
    border-top: 1px solid $word;
    overflow: auto;
}

.posts-page::-webkit-scrollbar {
    display:none;
}

.post-form {
    margin-top: 10px;
}


.text-area {
    background-color: $back;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    color: $ber;
    font-size: 18px;
    outline: none;
    display: inline-block;
    border: none;
    resize: none;
    
}


.text-area2 {
    background-color: $back;
    box-sizing: border-box;
    width: 70%;
    height: 55px;
    color: $ber;
    font-size: 18px;
    outline: none;
    display: inline-block;
    border: none;
    resize: none;
    
}

.form-area2 {
    width: 76%;
    box-sizing: border-box;
    background-color: $back;
    transition: 0.3s;
    color: $word;
    font-size: 16px;
    margin-left: 5px;
    outline: none;
}

.submit2 {
    width: 20%;
    border-radius: 30px;
    background-color: $ber;
    transition: 0.3s;
    height: 30px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    &:hover {
        background-color: $hover-back;
    }
}

.submit3 {
    width: 20%;
    background-color: $ber;
    transition: 0.3s;
    height: 55px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    float: right;
    &:hover {
        background-color: $hover-back;
    }
}

.posts-box {
    border-top: 1px solid $word;
    padding: 10px 10px;
}

.posts-box2 {
    padding: 10px 10px;
}

.post-box{
    width: 100%;
    box-sizing: border-box;
}

.posts-box-left {
    float: left;
    width: 10%;
    img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        object-fit: cover;
        margin-top: 3px;
    }
}

.content {
    display: block;
    a {
        color: $word;
        text-decoration-color: $back;
        font-size: 17px;
        transition: 0.3s;
        &:hover {
            color: $word2;
        }
    }
}



.post-name a {
    color: $word2;
    text-decoration-color: $back;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
    &:hover {
        text-decoration-color: $word2;
    }
}

.posts-box-right {
    float: left;
    width: 90%;
    border-bottom: 1px solid $word3;
}

.time {
    float: right;
    color: $word;
    font-size: 14px;
}

.post_image {
    width: 100%;
    height: 350px;
    object-fit: contain;
}

.like-btn {
    color: $word3;
    transition: 0.3s;
    &:hover {
        color: $word2;
    }
}

.like_box {
    display: inline;
}

.like_box a {
    text-decoration: none;
}

.like-btn-unlike {
    color: $hover-back;
}

.like-count {
    color: $word;
}


/* posts show */

.like-btn2 {
    color: $word3;
    transition: 0.3s;
    font-size: 20px;
    &:hover {
        color: $word2;
    }
}

.like-btn-unlike2 {
    color: $hover-back;
    font-size: 20px;
}

.like-count2 {
    color: $word;
    font-size: 20px;
}




.return a {
    text-decoration: none;
}

.posts-page p {
    font-size: 50px;
    font-weight: bold;
    color: $word;
    margin: 0px 600px 0px 26px;
    transition: 0.3s;
    &:hover {
        color: $word2;
    }
}

.post-show-user {
    padding: 0px 20px 5px 20px;
    img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        object-fit: cover;
    }

    a {
        color: $word2;
        text-decoration-color: $back;
        font-size: 30px;
        font-weight: bold;
        transition: 0.3s;
        &:hover {
            text-decoration-color: $word2;
        }
    }
}

.post-show-content {
    padding: 0px 20px 0px 30px;
}

.content-show {
    display: block;
    margin-top: 10px;
    a {
        color: $word2;
        font-size: 28px;
        text-decoration-color: $back;
    }
}

.post_image2 {
    width: 100%;
    height: 500px;
    object-fit: contain;
}


.time-show {
    
    color: $word;
    font-size: 18px;
    display: block;
}

.post-destroy {
    float: right;
    padding-right: 20px;
    padding-top: 20px;
    a {
        color: $word;
        font-size: 16px;
        text-decoration-color: $back;
        transition: 0.3s;
        &:hover {
            color: $hover-back;
            text-decoration-color: $hover-back;
        }
    }
}

.border-search {
    border-bottom: 1px solid $word;
}


/* footer */
.footer-ber {
    margin-top: 70px;
    border-top: 1px solid $word;
    small {
        color: $word;
        float: right;
    }
}