@media all and (max-width: 767px){
    $ber: rgb(253, 246, 227);
    $back: rgb(23, 20, 18);
    $word: rgb(199, 178, 153);
    $word2: rgb(253, 246, 227);
    $hover-back: rgb(173, 18, 18);

    .container {
        max-width: 767px;
    }

    .welcome {
        font-size:36px;
    }

    .let-start {
        font-size: 20px;
    }

    .about-word h4 {
        font-size: 16px;
    }

    .header-menu {
        display: none;
    }

    .side-icon-smart {
        font-size: 38px;
        color: $back;
        display: inline-block;
        transition: 0.3s;
            &:hover {
                color: $hover-back;
                font-size: 42px;
            }
    }

    .side-icon {
        display: none;
    }

    .side-link-box li {
        display: none;
    }

    .side-logo p {
        display: none;
    }

    .posts-box-left {
        display: none;
    }

    .posts-box-right {
        width: 100%;
    }

    .setting1 {
        display: block;
        .dropdown-toggle {
            font-size: 42px;
            color: $back;
            transition: 0.3s;
            text-decoration-color: $ber;
            &:hover {
                color: $hover-back;
                font-size: 44px;
                text-decoration-color: $ber;
            }
        }
    }

    .setting2 {
        display: block;
        float: right;
        .dropdown-toggle {
            font-size: 44px;
            color: $back;
            transition: 0.3s;
            text-decoration-color: $ber;
            margin-right: 100px;
            &:hover {
                color: $hover-back;
                text-decoration-color: $ber;
            }
        }
    }

    .content-show a {
        font-size: 22px;
        color: $word2;
    }

    .time-show {
        font-size: 14px;
    }

    .post-destroy a{
        font-size: 12px;
    }




}